<div class="container galleryPost animated fadeIn">
  <div class="row">
    <a class="backToGal" href="/gallery">back to gallery</a>
  </div>
  <div class="row">
    <div class="post-content">
      <img src="/images/1Gia.jpg">

    </div>

  </div>
</div>
