.navbar {
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 8000; }
  .navbar .title {
    margin-left: 2%;
    margin-right: 4%; }
  .navbar .nav-item {
    font-size: 13px;
    margin: 0 5px;
    text-align: center; }
  .navbar .navbar-nav .nav-link.active span {
    padding-bottom: 2px;
    border-bottom: 1px solid black; }
  .navbar .navbar-collapse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 28%; }
