@import url(navbar.css);
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
body {
  font-family: 'Libre Baskerville', serif; }

.title {
  text-align: center;
  font-family: 'Libre Baskerville', serif; }

.home {
  padding: 10% 20%; }
  .home .home-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home .home-image .image {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      -ms-flex-item-align: center;
          align-self: center; }
  .home .carousel-fade .carousel-item {
    -webkit-transition-duration: 8.5s;
            transition-duration: 8.5s; }

.about {
  padding-top: 100px;
  width: 70%; }
  .about .bio-row-one {
    padding-bottom: 5%; }
  .about .bio-text {
    text-align: justify; }
  .about .image {
    margin-bottom: 8%; }
    .about .image .bio {
      width: 100%;
      -ms-flex-item-align: center;
          align-self: center;
      z-index: -1; }

@media screen and (max-width: 400px) {
  .about {
    width: 100%; } }
.contact {
  padding-top: 100px;
  height: 100vh;
  width: 70%; }
  .contact .show {
    margin-top: 18%; }
  .contact h3 {
    padding-bottom: 2%; }
  .contact .show {
    text-align: center; }
  .contact .symbol {
    color: #8d8e8f;
    margin: 18px; }
  .contact .symbol:hover {
    color: black; }

.modal-dialog {
  padding-top: 100px; }

.ekko-lightbox a:hover {
  color: black; }

.modal-backdrop.show {
  opacity: 0.98;
  background-color: #262626; }

.gallery {
  margin: 0;
  padding-top: 100px; }
  .gallery .row {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px; }
  .gallery .galleryFilter {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2%; }
    .gallery .galleryFilter button:focus {
      outline: none !important; }
    .gallery .galleryFilter .active {
      border-bottom: 1px solid black; }
    .gallery .galleryFilter .active:focus {
      outline: none !important; }
  .gallery .artpiece {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 300px; }
  .gallery .artpiece img {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .gallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(15, 15, 15, 0.7); }
  .gallery .artpiece:hover .overlay {
    opacity: 1; }
  .gallery .artpiece:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    overflow: hidden; }
  .gallery .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.galleryPost {
  padding-top: 100px; }
  .galleryPost .backToGal {
    position: absolute;
    right: 10%;
    color: #8d8e8f; }
  .galleryPost .backToGal:hover {
    color: black; }
  .galleryPost .post-content {
    margin-top: 2%; }
    .galleryPost .post-content img {
      width: 90%;
      margin: 0 auto;
      display: inherit; }

@media screen and (max-width: 700px) {
  .galleryPost .post-content {
    margin-top: 5%; } }
.exhibits {
  padding-top: 100px;
  height: 100vh;
  width: 70%; }
  .exhibits .box {
    margin-top: 12%; }
  .exhibits .showOne {
    margin-bottom: 8%;
    text-align: center;
    color: #8d8e8f; }
  .exhibits .show {
    text-align: center;
    margin-bottom: 4%;
    color: #afb0b1; }
