---
title: Rachel Vernall
---
<div class="container exhibits">
  <div class="box">
    <!-- Main show  -->
    <div class="showOne">
      <div class="row">
        <div class="col-lg-12">
          <h3>Between Black & White</h3>
          <h6>5 SEP 2018 | Fish Slab Gallery, Whitstable</h6>
        </div>
      </div>
    </div>
  <!-- Past show  -->
    <div class="show">
      <div class="row">
        <div class="col-lg-12">
          <h5>PAST SHOWS</h5>
        </div>
      </div>
    </div>
    <div class="show">
      <div class="row">
        <div class="col-lg-12">
          <h5>La Danse Macabre</h5>
          <h6>OCT 2017 | Chocolate Cafe, Canterbury</h6>
        </div>
      </div>
    </div>
    <div class="show">
      <div class="row">
        <div class="col-lg-12">
          <h5>UCA Degree Show</h5>
          <h6>MAY 2014 | UCA Canterbury</h6>
        </div>
      </div>
    </div>

  </div>

</div>
