---
title: Rachel Vernall
---
<!--
image zoomed in and on hover apply further zoom in or out
on click open modal with image, maybe more than one image
 -->

<div class="container-fluid gallery">
  <div class="row">
    <div class="galleryFilter">
      <button class="btn btn-default filter-button" data-filter="all"><span class="select active">All</span></button>
      <button class="btn btn-default filter-button" data-filter="skulls"><span class="select ">Skulls</span></button>
      <button class="btn btn-default filter-button" data-filter="birds"><span class="select ">Birds</span></button>
      <button class="btn btn-default filter-button" data-filter="fashion"><span class="select ">Fashion</span></button>
      <!-- <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button> -->
    </div>
    <br/>
  </div>
  <div class="row">

    <!-- E.G -->
    <!-- IT WORKS! -->
    <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion">
      <div class="artpiece ">
        <a href="/images/1Gia.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion">
      <div class="artpiece ">
        <a href="/images/4.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <!-- E.G END -->


    <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion">
      <div class="artpiece ">
        <a href="/posts/postOne">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds">
        <a href="#">
        <img src="/images/7BirdSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/2tcs.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/5HunterSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/4TheCygnet.jpg" style="width:100%">

        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/6hands.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

</div><!--row   -->
</div><!--gallery container  -->

  <!-- <div class="row"> -->
    <!-- <div class="column">

      <div class="artpiece filter fashion">
        <a href="posts/postOne">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/7BirdSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- COL 2         //////////////////// -->
    <!-- <div class="column">

      <div class="artpiece">
        <a href="#">
        <img src="/images/2tcs.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5HunterSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- cCOL 3   ///////////// -->
    <!-- <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4TheCygnet.jpg" style="width:100%">

        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/6hands.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- 4th column in a 3 column world, shows on its own. -->
    <!-- <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
  <!-- </div> -->
