---
title: Rachel Vernall
---

<!-- Need new image gallery,
just container with images 4 col
square images
image zoomed in and on hover apply further zoom in or out
on click open modal with image, maybe more than one image
add filtering on images
 -->

<div class="container-fluid gallery">

  <div class="row">
    <div class="galleryFilter">
      <button class="btn btn-default filter-button" data-filter="all">All</button>
      <button class="btn btn-default filter-button" data-filter="skulls">Skulls</button>
      <button class="btn btn-default filter-button" data-filter="birds">Birds</button>
      <button class="btn btn-default filter-button" data-filter="fashion">Fashion</button>
      <!-- <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button> -->
    </div>
    <br/>
  </div>

  <div class="row">
    <div class="column">

      <div class="artpiece filter fashion">
        <a href="posts/postOne">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/7BirdSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div>


<!-- COL 2         //////////////////// -->
    <div class="column">

      <div class="artpiece">
        <a href="#">
        <img src="/images/2tcs.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5HunterSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div>

    <!-- cCOL 3   ///////////// -->
    <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4TheCygnet.jpg" style="width:100%">

        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/6hands.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div>

    <!-- 4th column in a 3 column world, shows on its own. -->
    <!-- <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->

  </div>

</div>
<!--

<div class="container-fluid gallery">
  <div class="row">


  </div>

  <div class="row">
    <div class="col-lg-6">

      <div class="card-1">

      </div>
      <div class="card-2">

      </div>
      <div class="card-3">

      </div>
      <div class="card-4">

      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-2">

      </div>
      <div class="card-1">

      </div>
      <div class="card-4">

      </div>
      <div class="card-3">

      </div>
    </div>

  </div> -->



  <!-- <div class="hashlink">
    <a href="#">Skulls</a>
    <a href="#">Birds</a>
    <a href="#">Animals</a>
    <a href="#">Fashion</a>
  </div>

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "isFitWidth": "true", "columnWidth": 380 }'>

    <div class="grid-item grid-item--height2">

      <a href="#">
        <div class="img-container">
          <img src="https://i.pinimg.com/736x/f5/2d/f0/f52df0db3c56258ab5748fad005e1c6a.jpg" class="image">
          <div class="img-overlay">
            <div class="text">Fashion Illustration</div>
          </div>
        </div>
      </a>

    </div>

    <div class="grid-item">

      <a href="#">
        <div class="img-container">
          <img src="http://78.media.tumblr.com/4c3784b16f4a14bacf1d9e331b3acfcf/tumblr_odi0soKwZc1r3w9a1o1_1280.jpg" alt="Avatar" class="image">
          <div class="img-overlay">
            <div class="text"> Animal Prints</div>
          </div>
        </div>
      </a>

    </div>

    <div class="grid-item grid-item--height2">

      <a href="#">
        <div class="img-container">
          <img src="https://i.pinimg.com/736x/5e/bd/dc/5ebddc2c455dcfb64a8027f2a059e794.jpg" alt="Avatar" class="image">
          <div class="img-overlay">
            <div class="text">Icons</div>
          </div>
        </div>
      </a>

    </div>

    <div class="grid-item">

      <a href="#">
        <div class="img-container">
          <img src="https://i.pinimg.com/originals/70/68/95/7068952aec1567d762589842d8f188b0.jpg" alt="Avatar" class="image">
          <div class="img-overlay">
            <div class="text">Songs Illustrated</div>
          </div>
        </div>
      </a>

    </div>

    <div class="grid-item">

      <a href="#">
        <div class="img-container">
          <img src="https://i.pinimg.com/originals/1c/74/79/1c74798413c910a2b1c104f4588cf854.jpg" alt="Avatar" class="image">
          <div class="img-overlay">
            <div class="text">Shop</div>
          </div>
        </div>
      </a>

    </div>

    <div class="grid-item grid-item--width2 grid-item--height2"></div> -->



    <!-- <div class="grid-item grid-item--width2 grid-item--height2">
      <a href="#">
        <div class="img-container">
          <img src="https://i.pinimg.com/736x/f5/2d/f0/f52df0db3c56258ab5748fad005e1c6a.jpg" class="image">
          <div class="img-overlay">
            <div class="text">Fashion Illustration</div>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item grid-item--height2">
      <a href="#">
        <div class="img-container">
          <img src="http://78.media.tumblr.com/4c3784b16f4a14bacf1d9e331b3acfcf/tumblr_odi0soKwZc1r3w9a1o1_1280.jpg" alt="Avatar" class="image">
          <div class="img-overlay">
            <div class="text"> Animal Prints</div>
          </div>
        </div>
      </a>
    </div> -->

  <!-- </div> -->

</div>
