---
title: Rachel Vernall
---
<!--
image zoomed in and on hover apply further zoom in or out
on click open modal with image, maybe more than one image
 -->

<div class="container-fluid gallery">
  <div class="row">
    <div class="galleryFilter">
      <button class="btn btn-default filter-button" data-filter="all"><span class="select active">All</span></button>
      <button class="btn btn-default filter-button" data-filter="skulls"><span class="select ">Skulls</span></button>
      <button class="btn btn-default filter-button" data-filter="birds"><span class="select ">Birds</span></button>
      <button class="btn btn-default filter-button" data-filter="fashion"><span class="select ">Fashion</span></button>
      <button class="btn btn-default filter-button" data-filter="idols"><span class="select ">Idols</span></button>
      <button class="btn btn-default filter-button" data-filter="nature"><span class="select ">Nature</span></button>
      <!-- <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button> -->
    </div>
    <br/>
  </div>
  <div class="row">

    <!-- E.G -->
    <!-- IT WORKS! -->
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion birds">
      <div class="artpiece ">
        <a href="/images/1Gia.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>



    <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter idols fashion">
      <div class="artpiece ">
        <a href="/images/4.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <!-- E.G END -->


    <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
      <div class="artpiece ">
        <a href="/images/Aristotelis.jpg"lightbox" data-gallery="example-gallery"osts/postOne">
        <img src="/images/Aristotelis.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>
    </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/Background.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Background.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion fashion birds">
        <a href="/images/TheCygnet.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/TheCygnet.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece skulls birds nature">
        <a href="/images/BirdSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/BirdSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls birds nature">
        <a href="/images/BirdSkullDuo.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/BirdSkullDuo.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter idols">
        <a href="/images/BobDylan.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/BobDylan.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/CATBCicada.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/CATBCicada.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/CATBCicadaTrio.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/CATBCicadaTrio.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/CATBFeel.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/CATBFeel.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/Crab.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Crab.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion idols">
        <a href="/images/DebbieHarry.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/DebbieHarry.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds">
        <a href="/images/EnidBird.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/EnidBird.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion idols">
        <a href="/images/FitzgeraldSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/FitzgeraldSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/Hare.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Hare.jpg" style="width:100%">

        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/HeronAzure.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/HeronAzure.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="/images/HunterSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/HunterSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="/images/KingSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/KingSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/LargePheasant.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/LargePheasant.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/MiniaturePheasant.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/MiniaturePheasant.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>




      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="/images/MiniSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/MiniSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter nature">
        <a href="/images/MiniWhale.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/MiniWhale.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/Penguin.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Penguin.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/Plover.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Plover.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls nature">
        <a href="/images/RamSkull.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/RamSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/Raven.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/Raven.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter birds nature">
        <a href="/images/RosalindBird.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/RosalindBird.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter skulls">
        <a href="/images/SkullProfile1.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/SkullProfile1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion idols">
        <a href="/images/StevieNicks.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/StevieNicks.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 artpiece filter fashion idols">
        <a href="/images/WillieNelson.jpg" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="/images/WillieNelson.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div> -->

</div><!--row   -->
</div><!--gallery container  -->

  <!-- <div class="row"> -->
    <!-- <div class="column">

      <div class="artpiece filter fashion">
        <a href="posts/postOne">
        <img src="/images/1Gia.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Gia</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/7BirdSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter skulls">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece filter birds">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- COL 2         //////////////////// -->
    <!-- <div class="column">

      <div class="artpiece">
        <a href="#">
        <img src="/images/2tcs.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5HunterSkull.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- cCOL 3   ///////////// -->
    <!-- <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4TheCygnet.jpg" style="width:100%">

        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/6hands.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
    <!-- 4th column in a 3 column world, shows on its own. -->
    <!-- <div class="column">


      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/5.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/1.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/2.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/3.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

      <div class="artpiece">
        <a href="#">
        <img src="/images/4.jpg" style="width:100%">
        <div class="overlay">
          <div class="text">
            <h4>Title</h4>
            <p>-text-</p>
          </div>
        </div>
        </a>
      </div>

    </div> -->
  <!-- </div> -->
